span{
    background-color:yellow ;
}
ol{
    list-style-type: upper-roman;
}
tr,td{
    border: 1px solid black;
    padding: 1px;
}
img{
    border:5px solid orange;
    width: 500px;
    height: 500px;
    
}
.para{
    border:1px solid red;
    text-align: center;
}